vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Sep 2014 17:34:26 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|site/documentation/demos/Contact\\ Form\\ demo.html site/documentation/demos/Subscribe\\ Form\\ demo.html site/documentation/demos/Countdown\\ demo.html site/documentation/demos/search.php site/documentation/demos/Search\\ Form\\ demo.html site/documentation/demos/Gallery\\ demo.html site/documentation/demos/Just\\ Slider\\ demo.html
vti_author:SR|HASHIM-PC\\Glados
vti_modifiedby:SR|HASHIM-PC\\Glados
vti_timecreated:TR|16 Sep 2014 17:34:26 -0000
vti_cacheddtm:TX|16 Sep 2014 17:34:26 -0000
vti_filesize:IR|1198
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css Q|http://fonts.googleapis.com/css Q|http://fonts.googleapis.com/css Q|http://fonts.googleapis.com/css
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css NQHS|http://fonts.googleapis.com/css NQHS|http://fonts.googleapis.com/css NQHS|http://fonts.googleapis.com/css
